*{
	padding: 0px;
	margin: 0px;
}


body{
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
}


#content-wrapper{
	width: 1200px;
	margin: 0 auto;
}

nav{
	padding: 20px;
	background-color: #30303a;
	width: 100%;
	position: fixed;
   	left: 0;
   width: 100%;
   
}

 ul{
 	list-style-type: none;
 	text-align: right;
 }

 ul li{
 	display: inline;
 	margin-right: 50px;
 }

 ul li a{
 	color: white;
 	font-family: 'Source Sans Pro', sans-serif;
 	text-decoration: none;
 }

  ul li a:hover{
  	color: #cae8cb;

 } 	

	
/*<!-- CONT ***************************-->*/

img{

	padding-top: 60px;
	display:block;
    margin:auto;
}

.section{
	text-align: center;
	background-color: #cae8cb;
	padding: 80px;
}

.section p{
	max-width: 70%;
	margin: 0 auto;
}

button {
	margin-top: 40px;
	border: 2px solid #aba9a8;
    padding: 15px 25px;
    background: #aba9a8;
    width: 250px;
    border-radius: 45px;
    color: white;
}


/*<!-- text section ***************************-->*/
.column{
	max-width: 25%;
	float: left;
	margin-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;

}

.column p{
	color: #848484;

}

